<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="shortcut icon" type="image/png" href="{{ '{%' }} static './static/images/favicon.png' {{ '%}' }}">

  <title>{{ '{%' }} block title {{ '%}' }}{{ cookiecutter.project_name }}{{ '{%' }} endblock {{ '%}' }}</title>

  {{ '{%' }} for bundle in bundles_css {{ '%}' }}
    {{ '{%' }} if bundle {{ '%}' }}
      <link href="{{ '{%' }} static bundle.0 {{ '%}' }}" rel="stylesheet">
    {{ '{%' }} endif {{ '%}' }}
  {{ '{%' }} endfor {{ '%}' }}

  {{ '{%' }} block styles {{ '%}' }}{{ '{%' }} endblock {{ '%}' }}

  {{ '{%' }} block extra-head {{ '%}' }}{{ '{%' }} endblock {{ '%}' }}
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{ '{%' }} url './index.html' {{ '%}' }}">{{ cookiecutter.project_name }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-main" aria-controls="navbar-main" aria-expanded="false" aria-label="Toggle Navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-main">
          <ul class="navbar-nav">
            <li class="nav-item{{ '{%' }} if_current_page '/index.html' ' active' '' {{ '%}' }}"><a class="nav-link" href="{{ '{%' }} url './index.html' {{ '%}' }}">Homepage</a></li>
          </ul>

          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item{{ '{%' }} if_current_page '/page1.html' ' active' ''{{ '%}' }}"><a class="nav-link" href="{{ '{%' }} url './page1.html' {{ '%}' }}">Page 1</a></li>
            <li class="nav-item dropdown {{ '{%' }} if_current_page '/page2.html' ' active' '' {{ '%}' }}">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="dropdown-sample">Dropdown <span class="caret"></span></a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-sample">
                <a class="dropdown-item{{ '{%' }} if_current_page '/page2.html' ' active' '' {{ '%}' }}" href="{{ '{%' }} url './page2.html'{{ '%}' }}">Page 2</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h1>{{ cookiecutter.project_name }}</h1>

          <hr>
        </div>
      </div>
    </div>
  </header>

  <main>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          {{ '{%' }} if is_debug {{ '%}' }}<div class="alert alert-warning alert-dismissable" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="close">&times;</button>Development Mode</div>{{ '{%' }} endif {{ '%}' }}
        </div>
      </div>

      {{ '{%' }} block content {{ '%}' }}{{ '{%' }} endblock {{ '%}' }}
    </div>
  </main>

  <footer>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 text-center">
          <hr>

          <a href="https://gitlab.com/kjpc-tech/kjpc-static-template/" target="_blank">kjpc-static-template</a>
        </div>
      </div>
    </div>
  </footer>

  {{ '{%' }} for bundle in bundles_js {{ '%}' }}
    {{ '{%' }} if bundle {{ '%}' }}
      <script src="{{ '{%' }} static bundle.0 {{ '%}' }}"></script>
    {{ '{%' }} endif {{ '%}' }}
  {{ '{%' }} endfor {{ '%}' }}

  {{ '{%' }} block scripts %}{{ '{%' }} endblock {{ '%}' }}

  {{ '{%' }} block extra-body %}{{ '{%' }} endblock {{ '%}' }}
</body>

</html>
